{% extends 'base.html.twig' %}
{% block title %}Jackpot Hackaton{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/styleText.css">


{% endblock %}

{% block body %}
    <div class="bubble">
        <p>Salut Abadango !</p>
    </div>
    <img class="lapin" src="http://blog.daire-jeanpaul.com/blog/wp-content/uploads/2014/10/vig-lapin.jpg">
    <div>
        <a href="/persochoisit/suite" class="btn btn-secondary btn-lg" name="submitIndex" id="bouttont" >Suivant</a>    </div>
{% endblock %}

   {% block javascripts %}

   {% endblock %}