<div class="container">
    <h1>Randomize your stuff!</h1>
    <div class="row">
        <div class="col-sm-4">
            <div>
                <div id="machine1" class="randomizeMachine" style="overflow: hidden;">
                    <div class="slotMachineContainer"
                        style="transition: all 0.4s ease-out 0s; transform: matrix(1, 0, 0, 1, 0, -300);">
                        {% for oeuf in oeufs %}
                        <div class=""><img src="{{ oeuf }}" alt="test"></div>
                        {% endfor %}
                     
                    </div>
                </div>
            </div>
            <div id="machine1Result" class="col-xs-4 machineResult">Index: 2</div>
        </div>
        <div class="col-sm-4">
            <div>
                <div id="machine2" class="randomizeMachine" style="overflow: hidden;">
                    <div class="slotMachineContainer"
                        style="transition: all 0.4s ease-out 0s; transform: matrix(1, 0, 0, 1, 0, -200);">
                        {% for oeuf in oeufs %}
                        <div class=""><img src="{{ oeuf }}" alt="test"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="machine2Result" class="col-xs-4 machineResult">Index: 1</div>
        </div>
        <div class="col-sm-4">
            <div>
                <div id="machine3" class="randomizeMachine" style="overflow: hidden;">
                    <div class="slotMachineContainer"
                        style="transition: all 0.4s ease-out 0s; transform: matrix(1, 0, 0, 1, 0, -600);">
                       
                        {% for oeuf in oeufs %}
                        <div class=""><img src="{{ oeuf }}" alt="test"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="machine3Result" class="col-xs-4 machineResult">Index: 5</div>
        </div>
        <div class="btn-group btn-group-justified" role="group">
            <button id="randomizeButton" type="button" class="btn btn-danger btn-lg">Shuffle</button>
         
        </div>
    </div>

</div>