{% extends 'base.html.twig' %}
{% block title %}Jackpot Hackaton{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/styleIntro.css">
{% endblock %}


{% block body %}

    <div>
        <p>
            A game made by
            <span>
            The egg factory
  </span>
            &mdash; Franck, Steph, Fred, Théo & David &mdash;
        </p>
    </div>
    <div id="divbuttonhome" class="container row col-3">
        <a href="/dialogue/index" class="btn btn-secondary btn-lg" name="submitIndex" id="buttonhome">Let's start the game !</a>
    </div>

   {% endblock %}

   {% block javascripts %}

{% endblock %}