body {
    background:#DCDBD7;;
 }
 .background {
    background:#DCDBD7 url('../images/background.jpg') no-repeat;
    width:1024px;
    height:764px;
    margin-right: 0%;
    margin-top: 0%;
 }


 h1{
     text-align: center;
     padding-bottom:25px;
     color:white;
 }
 /* The animation code */
@keyframes example {
    from {-ms-transform: translate(600px, 0px); /* IE 9 */
        -webkit-transform: translate(600px, 0px); /* Safari */
        transform: translate(600px,0px);}
    to {-ms-transform: translate(-115000px, 0px); /* IE 9 */
        -webkit-transform: translate(-115000px, 0px); /* Safari */
        transform: translate(-115000px, 0px);}
  }
 #lapi{
    
    animation-name: example;
    animation-duration: 298s;
    z-index: 9999;
 }
 .input{
    margin-left:65%;
 }


 .mega-score {
     position:relative;
 }

 .gain {
    position:absolute;
    z-index:3;
    left:90px;
    top:14px;
    color:#fff;
    font-size:1.5em;
    text-shadow: 0px 0px 7px rgba(212, 12, 12, 0.5);
}
