{% extends 'base.html.twig' %}
{% block title %}Jackpot Hackaton{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="../css/styleText.css">

{% endblock %}

{% block body %}
    <div class="bubble">
        <h2>Bubble Text</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <img src="http://blog.daire-jeanpaul.com/blog/wp-content/uploads/2014/10/vig-lapin.jpg">
    <div>
        <button type="button" class="btn btn-secondary btn-lg">Next</button>
    </div>
{% endblock %}

   {% block javascripts %}

   {% endblock %}