{% extends 'base.html.twig' %}
{% block title %}Jackpot Hackaton{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/styleText.css">
{% endblock %}

{% block body %}
    <div class="container">
    <div id="bubble2" class="bubble row col-12">
        <p>Je vien de me faire plaquer par ma lapine ... <br/>et actuellement il me reste que 100$.. <br/>Merde je me suis même pas présenter !<br/>Moi c’est Luke Skyhopper et toi ? </p>
    </div>
    <div class="row">
    {% for personnage in personnage | slice ( 1 , 4) %}
        <div class="col-2 ml-3">
        <div class="card" style="width: 12rem;"><br/>
            <img style="width: 150px;height: 150px;" src="{{ personnage.image }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ personnage.name }}</h5>
                <p class="card-text">

                </p><a href="#" class="btn btn-primary">Choisir</a>
                <div/>
            </div>
        </div>
        </div>
                </div>
    {% endfor %}

<div class="col-3">
    <img class="lapin2" id="vignette2" src="http://blog.daire-jeanpaul.com/blog/wp-content/uploads/2014/10/vig-lapin.jpg">
</div>
    </div>
{% endblock %}

   {% block javascripts %}

   {% endblock %}